.navbar {
  background-color: #0075c8 !important;
}

.hr_db {
  background-color: #746f6f;
  height: 1px;
}
.notif_db {
  background-color: #fdfeba;
  width: 100%px;
  height: 55px;
  border-radius: 16px;
}
.icon_sidebar {
  margin-right: 30px;
  margin-left: 15px;
  width: 25px;
  height: 25px;
}
.text_sidebar {
  color: #525252;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.toggle_bars_mobile {
  display: none !important;
}
.sidebar {
  background: #fff;
  width: 250px;
  height: 100vh;
  z-index: 30;
  position: fixed;
  margin-top: 64px;
}

@media (max-width: 768px) {
  .containerBars_toggled {
    display: none !important;
  }
  .main_toggled .main_content {
    margin-left: 0px !important;
  }
  .main_content {
    margin-left: 0px !important;
  }
}

.main_toggled .main_content {
  margin-left: 82px;
}
.main_content {
  margin-left: 250px;
  margin-top: 64px;
}
.fixed_sidebar {
  position: fixed;
  top: 0px;
  height: 100vh;
}

.dataTables_filter {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  right: -100px;
}

#buttonTambahDosen {
  margin-left: 20px;
  margin-right: -20px;
}
.sidebar-backdrop {
  pointer-events: none !important;
}
.sidebar_toggled.fixed_sidebar {
  visibility: hidden;
}
.sidebar_toggled {
  width: 82px;
  transition: all ease 0.5s;
}
.sidebar_toggled .nama_profil {
  display: none;
}
.sidebar_toggled .submenu_laporan {
  display: none !important;
}
.sidebar_toggled .containerBars {
  display: none;
}
.containerBars_toggled {
  visibility: hidden !important;
}
.main_toggled .containerBars_toggled {
  visibility: visible !important;
}
.sidebar_toggled .sidebar_text {
  display: none;
}
.main {
  background: #e8e8e8;
}
.profil_db {
  align-items: center !important;
  display: flex;
  margin-bottom: 30px;
}
.nama_profil {
  color: #9b9b9b;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.containerBars {
  width: 40px;
  height: 37px;
  border-radius: 4px;
  background: #0075c8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.containerBars_toggled {
  visibility: hidden;
  width: 40px;
  height: 37px;
  border-radius: 4px;
  background: #0075c8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_toggled .containerBars_toggled {
  visibility: visible;
  width: 40px;
  height: 37px;
  border-radius: 4px;
  background: #0075c8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_bars {
  font-size: 25px;
  border-radius: 2.5px;
  color: #d9d9d9;
}
.foto_profil {
  border-radius: 50px;
  border: solid;
  border-color: lightgray;
  width: 53.2px;
  height: 54.133px;
  flex-shrink: 0;
  margin-right: 5px;
}
.foto_profil_dosen_table {
  border-radius: 50px;
  border: solid;
  border-color: lightgray;
  width: 34.533px;
  height: 34.533px;
  flex-shrink: 0;
  margin-right: 5px;
}
.subtitle_dashboard {
  border-top: solid;
  border-radius: 7px 7px 0px 0px;
  border-color: #0075c8;
}
.pelanggaran_terbaru {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-top: solid;
  background: linear-gradient(0deg, #fff 0%, #fff 100%), #fff;
  padding-top: 16px;
  padding-bottom: 16px;
  border-color: #0075c8;
  border-radius: 7px 7px 0px 0px;
  width: 100%;
  height: 382px;
  overflow-y: scroll;
}

.jumlah_pelanggaran {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  border-top: solid;
  background: linear-gradient(0deg, #fff 0%, #fff 100%), #fff;
  padding-top: 16px;
  padding-bottom: 16px;
  border-color: #0075c8;
  border-radius: 7px 7px 0px 0px;
  width: 100%;
  /* height: 382px; */
}
.pelanggaran_tbr_title {
  color: #b60000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 16px;
}
.hr_pelanggaran {
  width: 197px;
  height: 1px;
  background: #b60000;
  margin-bottom: 10px;
  margin-left: 16px;
}
.sidebar_item:hover {
  background: #c0d2ff;
}
.sidebar_item_aktif {
  background-color: #c0d2ff;
}
.bobot_cukup_berat {
  border-radius: 6px;
  background: #ffdf6c;
  width: 82px;
  height: 17px;
  flex-shrink: 0;
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 5px;
  display: flex;
  justify-content: center;
}
.biodata_pelanggar {
  padding: 10px 5px 5px 16px;
}
.nama_pelanggar {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 10px;
}
.nim_pelanggar {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.tanggal_pelanggaran {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.penyebab_pelanggaran {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.containerGroupImg {
  width: 270px;
  height: 370px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 3px dashed #8d8d8d !important;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerGroupKompenImg {
  width: 214px;
  height: 279px;
}
